.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 330px;
    color: #fefefe;

    padding: 20px;
    border-radius: 16px;
    font-size: 14px;

    background-color: #333;

    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: 2px 2px 5px #7776BC;
    }

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span {
            font-weight: 700;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 12px;
        border-radius: 12px;

        border: 1px solid #333;

    }
}